<h1>群組清單</h1>

<%= link_to "建立新群組", new_group_path %>

<table>
  <thead>
    <tr>
      <td>加入社團</td>
      <td>群組名稱</td>
      <td>敘述</td>
      <td>建立者</td>
    </tr>
  </thead>
  <tbody>
    <% @group.each do |group| %>
      <tr>
        <% if current_user.is_member_of?(group) %>
          <td><%= link_to "退出群組", quit_group_path(group),method: "post" %></td>
        <% else %>
          <td><%= link_to "點我加入", join_group_path(group),method: "post" %></td>
        <% end %>
        <td><%= link_to "#{group.title}", group_path(group) %></td>
        <td><%= group.description %></td>
        <td><%= group.user.name %></td>
        <td>
          <% if current_user.id == group.user.id %>
          <%= link_to "編輯", edit_group_path(group) %>
          <%= link_to "刪除", group_path(group), 
              method: "delete", 
              data: { confirm:"確認要刪除嗎？" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>