<h1>群組清單</h1>

<%= link_to "建立新群組", new_group_path %>

<table>
  <thead>
    <tr>
      <td>群組名稱</td>
      <td>敘述</td>
    </tr>
  </thead>
  <tbody>
    <% @group.each do |group| %>
    <tr>
      <td><%= group.title %></td>
      <td><%= group.description %></td>
      <td>
        <%= link_to "編輯", edit_group_path(group) %>
        <%= link_to "刪除", group_path(group), method: "delete", data: { confirm:"確認要刪除嗎？" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>